<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Medicom Patient Consult</title>
        <link rel="shortcut icon" type="image/png" href="/assets/brand/m.png">
        <!-- Bootstrap core CSS -->
        <link href="/assets/dist/css/bootstrap.css" rel="stylesheet">
        <!-- Custom styles for this template -->
        <link href="/assets/styles/form-design.css" rel="stylesheet">


    </head>

    <body class="text-center form-design">
        <div class="form-design">
            <img class="mb-4" src="/assets/brand/m.svg" alt="" width="156" height="156">
            <h1 class="h3 mb-3 font-weight-normal">Medicom Patient Consult</h1>
        </div>

        <br>
        <h1 class="h3 mb-3 font-weight-normal contents">Your last Consult request result:</h1>
        <br>
        <table class="table contents">
            <thead>
                <tr>
                    <th>DATE</th>
                    <th>PATIENT CNP</th>
                    <th>DOCTOR CNP</th>
                    <th>INSTITUTION CUI</th>
                    <th>DIAGNOSTIC DESCRIPTION</th>
                    <th>TREATMENT DESCRIPTION</th>
                    <th>TREATMENT SCHEDULE</th>
                    <th>MINIMUM DAYS</th>
                    <th>MAXIMUM DAYS</th>
                </tr>
            </thead>
            <tbody>

                <tr th:each="consultDTO : ${consultDTOList}">


                    <td th:text="${consultDTO.date}"></td>
                    <td th:text="${consultDTO.patient_cnp}"></td>
                    <td th:text="${consultDTO.doctor_cnp}"></td>
                    <td th:text="${consultDTO.institution_cui}"></td>
                    <td th:text="${consultDTO.diagnostic_desc}"></td>
                    <td th:text="${consultDTO.treatment_desc}"></td>
                    <td th:text="${consultDTO.treatment_schedule}"></td>
                    <td th:text="${consultDTO.min_days}"></td>
                    <td th:text="${consultDTO.max_days}"></td>

                </tr>
            </tbody>
        </table>
        <br>
        <form class="form-design" method="GET" th:action="@{/users/find-patient}" th:object="${patientDTO}">

            <div class="form-label-group">
                <input name="cnp" th:field="*{cnp}" type="text" class="form-control"
                       placeholder="Patient CNP" hidden>
                <span th:errors="*{cnp}" th:if="${#fields.hasErrors('cnp')}"></span>
            </div>
            <br>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Clear Result</button>
        </form>
        <br>

        <a href="/logout" class="btn btn-lg btn-danger btn-block">Logout</a>
        <br>
        <p class="mt-5 mb-3 text-muted">&copy; 2020</p>
    </body>
</html>

