<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Medicom</title>
        <link href="/assets/brand/m.png" rel="icon" type="image/png">

        <!-- Bootstrap core CSS -->
        <link href="/assets/dist/css/bootstrap.css" rel="stylesheet" type="text/css">

        <!-- Custom styles for this template TODO: Figure out why this is missing and add it, or remove the reference. -->
        <link href="/assets/styles/form-design.css" rel="stylesheet" type="text/css">


    </head>

    <body class="text-center">


        <div class="form-design">

            <img class="mb-4" src="assets/brand/m.svg" alt="" width="156" height="156">

            <h1 class="h3 mb-3 font-weight-normal">Welcome to Medicom!</h1>

            <a href="/home" class="btn btn-lg btn-primary btn-block">Sign in</a>
            <br>

            <a href="/users/registration" class="btn btn-lg btn-primary btn-block">Register</a>

        </div>


        <h1 class="h5 mb-3 font-weight-normal contents">CONTACT: support@medicom.ro</h1>


        <p class="mt-5 mb-3 text-muted contents">&copy; 2020</p>

    </body>
</html>
